numpy
pandas
dotmap
h5py
toml
pyyaml
pickle5
rich
git+https://github.com/mle-infrastructure/mle-logging.git@main
git+https://github.com/mle-infrastructure/mle-hyperopt.git@main
git+https://github.com/mle-infrastructure/mle-monitor.git@main
git+https://github.com/mle-infrastructure/mle-scheduler.git@main